<div class="gray-container">
	<div style="margin-top: 15px">

		<p class="text-muted">
			Mr/Mme {{ name }} ,</p><br>

		<p>Nous avons le plaisir de vous souhaiter la bienvenue au sein de la communauté IREX.</p><br>

		<p>
			Pour accéder à toute notre infrastructure, voici vos credentials: <br>

			login est : {{ username }} <br>

			mot de passe temporaire: {{ password }}
		</p><br>

		<p>Veuillez vous connecter à la plateforme en cliquant sur le lien suivant : https://camunda.onesi.ca et utilisez les informations de connexion précédentes pour vous connecter à la plateforme.</p><br>

		<p>Nous avons préparé une vidéo qui vous montre pas à pas comment réaliser les tâches qui vous permettront de rejoindre la communauté IREX : https://wetube.irex.aretex.ca/videos/watch/39ed62f3-f5bc-4ea7-abd6-da370ebd631f.</p><br><br>

		<p>Bien cordialement,</p><br>

		<p class="text-muted">Team IREX</p>

	</div>
</div>
