<div class="gray-container">
    <div style="margin-top: 15px">

        <p class="text-muted">
            Mr/Mme {{ name }} ,</p>

        <p>Nous avons le plaisir de vous souhaiter la bienvenue au sein de la communauté IREX.</p>

        <p>
            Pour accéder à toute notre infrastructure, voici vos credentials:

            login est : {{ username }}

            mot de passe temporaire: {{ password }}
        </p>

        <p>A- Vous devez vous rendre à cette adresse pour changer de mot de passe immédiatement:
            https://auth.irex.aretex.ca/
        </p>


        <p>B-Vous retrouverez le reste de la communauté en vous connectant grâce à votre login et votre (nouveau) mot de
            passe
            ici : https://chat.irex.aretex.ca </p>


        <p>C- Vous pouvez commencer la prise en main de notre plateforme digitale en vous connectant avec le nouveau mot
            de
            passe que vous venez de choisir et en suivant les instructions décrites ici :

            https://agile.irex.aretex.ca/plugins/mediawiki/wiki/irex-documentation-project/index.php?title=Accueil
        </p>

        <p>D- De même nous vous recommandons de regarder directement sur Internet les vidéos de présentation de notre
            plateforme
            de Visio-conférence :

            https://agile.irex.aretex.ca/plugins/mediawiki/wiki/irex-documentation-project/index.php?title=Use_Jione_Conference
        </p>

        <p>N'hésitez pas à nous poser des questions (d'abord sur le chat puis à cette adresse mail en ultime recours) si
            quelque
            chose n'est pas clair (après avoir visionné les vidéos).</p>


        <p>Notez qu'il est capital de joindre des captures d'écran lorsque vous sollicitez de l'aide afin d'accélérer le
            traitement de votre requête.</p>


        <p>Bien cordialement,</p>

        <p class="text-muted">Team IREX</p>

    </div>
</div>