<div class="gray-container">
	    <div style="margin-top: 15px">

		            <p class="text-muted">
			                Mr/Mme {{ name }} ,</p><br>

					        <p>Nous avons le plaisir de vous souhaiter la bienvenue au sein de la communauté IREX.</p><br>

						        <p>
							            Pour accéder à toute notre infrastructure, voici vos credentials: <br>

								                login est : {{ username }} <br>

										            mot de passe temporaire: {{ password }}
											            </p><br>

												            <p>A- Vous devez vous rendre à cette adresse pour changer de mot de passe immédiatement: https://auth.irex.aretex.ca/ </p><br>


													            <p>B-Vous retrouverez le reste de la communauté en vous connectant grâce à votre login et votre (nouveau) mot de
														                passe ici : https://webchat.irex.aretex.ca . Voici le lien d'une petite video pour vous indiquer comment joindre :  https://wetube.irex.aretex.ca/videos/watch/332a3caa-f8ee-450a-b801-60492f84db31
																        </p><br>

																	        <p>C- Connectez-vous sur la plateforme de mail à l'adresse : https://mail.irex.aretex.ca</p>

																		        <p>D- Vous pouvez commencer la prise en main de notre plateforme digitale en vous connectant avec le nouveau mot
																			            de passe que vous venez de choisir et en suivant les instructions décrites ici :

																				                https://agile.irex.aretex.ca/plugins/mediawiki/wiki/irex-documentation-project/index.php?title=Accueil
																						        </p><br>

																							        <p>E- De même nous vous recommandons de regarder directement sur Internet les vidéos de présentation de notre
																								            plateforme de Visio-conférence :

																									                https://agile.irex.aretex.ca/plugins/mediawiki/wiki/irex-documentation-project/index.php?title=Use_Jione_Conference
																											        </p><br>

																												        <p>Veuillez à base de ce lien (https://chat.whatsapp.com/F6K5GkdJzgu80za4ifdNUt) rejoindre ce groupe whatsapp de le communauté IREX.
																													Vous pouvez également signaler dans ce groupe whatsapp avec capture d'écran à l'appui si vous avez des difficultés à rejoindre notre communauté à travers nos plateformes.
																													</p><br>

																														        <p>N'hésitez pas à nous poser des questions (d'abord sur le chat, ensuite sur whatsapp et en ultime recours à cette adresse mail) si
																															            quelque chose n'est pas clair (après avoir visionné les vidéos).
																																            </p><br>


																																	            <p>Notez qu'il est capital de joindre des captures d'écran lorsque vous sollicitez de l'aide afin d'accélérer le
																																		                traitement de votre requête.
																																				        </p><br><br>


																																					        <p>Bien cordialement,</p><br>

																																						        <p class="text-muted">Team IREX</p>

																																							    </div>
</div>
