<div class="gray-container">
    <div style="margin-top: 15px">
        <p class="text-muted">M/Mme {{ name }},</p>
        <p>Nous avons le plaisir de vous souhaiter la bienvenue au sein de la communauté IREX.</p>
        <p>Votre cadidature pour le programme <b>{{ program }}</b> à été pris en compte. </p>
        <p>Nous sommes heureux de vous informer que vous etes désormais membre de la cohorte de <b>{{ cohorte }}</b> qui
            débutera le <b>{{ date_debut }}.</b> </p>
        <p>Avant la dite date vous allez recevoir un mail contenant vos informations de connexion alors soyez à l'écoute
            et à très bientôt.</p><br>
        <p class="text-muted">IREX</p>
    </div>
</div>
